export(JSTOR_1bigram)
export(JSTOR_1word)
export(JSTOR_2bigrams)
export(JSTOR_2bigramscor)
export(JSTOR_2wordcor)
export(JSTOR_2words)
export(JSTOR_chunk)
export(JSTOR_corpusofnouns)
export(JSTOR_findassocs)
export(JSTOR_freqwords)
export(JSTOR_lda)
export(JSTOR_lda_docdists)
export(JSTOR_lda_hotncoldtopics)
export(JSTOR_lda_topicdists)
export(JSTOR_MALLET)
export(JSTOR_MALLET_hotncoldtopics)
export(JSTOR_MALLET_topicsovertime)
export(JSTOR_removestopwords)
export(JSTOR_unpack)
import(cluster)
import(ggplot2)
import(lda)
import(openNLP)
import(openNLPmodels.en)
import(plyr)
import(reshape2)
import(stringr)
import(tm)
import(topicmodels)
import(XML)
